# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Secrets
secrets.toml
.env

# SQL files starting with "garmin_data"
garmin_data*.sql

# IDEs / Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db
